$card-width: 218px;
$card-height: 283px;
$card-background-color: #6CA8EE;
$card-color: white;
$card-border-radius: 50px 0px 0px 0px;
$card-margin: 20px;
$card-transition: transform 0.9s ease;
$card-cursor: pointer;

.card {
  width: $card-width;
  height: $card-height;
  border-radius: $card-border-radius;
  background-color: $card-background-color; /* Цвет фона */
  color: $card-color; /* Цвет текста */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: $card-transition; /* Плавный переход для поворота */
  margin: $card-margin; /* расстояние между карточками */
  cursor: $card-cursor; /* указания, что карточка кликабельна */

  .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; /* Скрываем обратную сторону при повороте */
  }

  .front {
    transform: rotateY(0deg); /* Передняя сторона по умолчанию */
  }

  .back {
    transform: rotateY(180deg); /* Обратная сторона по умолчанию */
  }
}

.catImage {
  width: calc(100% - 40px); /* ширина изображения с отступом */
  height: calc(100% - 40px); /* высота изображения с отступом */
  object-fit: cover; /* Масштабируем изображение, чтобы оно заполнило контейнер */
  border-radius: 0px 50px 0px 0px; /* Скругляем углы изображения */
  margin: 20px; /* Добавляем отступы вокруг изображения */
}

.factText {
  font-weight: 500; /* Устанавливаем жирность текста */
  color: #ffffff; /* Устанавливаем цвет текста */
  margin: 30px; /* отступ сверху */
  font-size: 15px;
  overflow-y: auto; /* вертикальная прокрутку */
  max-height: 100%; /* Ограничиваем высоту текстового блока */
}

.flipped {
  transform: rotateY(180deg); /* Угол поворота при клике */
}